/* CSS used here will be applied after bootstrap.css */
.jumbotron {
  position: relative;
}

.topborder0 {
  border-top: 8px solid red;
}

.topborder1 {
  border-top: 8px solid green;
}

.round {
    border-radius: 50%;
      width: 50px;
      height: 50px;
}

#buttonmenu {
  position: absolute;
  float: right;
  top: 5px;
  right: 5px;
}
